* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  cursor: pointer;
}

body {
  min-height: 100svh;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 15vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* flex-grow: 1; */
  margin: auto;
}

.his-text {
  padding: 6px 16px;
}

.his-card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
  transition: 0.3s;
}

.his-card:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.2);
  margin: 0 20px;
}

.history-track {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  padding: 24px 24px 40px;
  max-width: 100%;
  overflow: scroll;
}

strong {
  font-size: 2em;
}
